@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Raleway";
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
  font-family: inherit;
}

html, body,
.container {
  height: 100%;
}

.container {
  display: flex;
}

.container .game {
  margin: auto auto;
  text-align: center;
  line-height: 70px;
  width: ((4 * 70px) + ((70px * 0.1 )* 1.4) + 40px);
  height:  ((4 * 70px) + ((70px * 0.1 )* 1.4) + 40px);
}

.container .game .cell {
  width: 70px;
  height: 70px;
  margin-right: (((4 * 70px) + ((70px * 0.1 )* 1.4) + 40px) * 0.1);
  border-radius: 4px;
  margin-bottom: (((4 * 70px) + ((70px * 0.1 )* 1.4) + 40px) * 0.1);
  background-color: #FFF;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0;
  color: #EEE;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease-in;
  position: absolute;
}

.container .empty {
  opacity: 0;
}